.chat{
      .form{
            background-color: #DDDDDD;
            height: 100px;
            bottom: 0px;
            padding: 20px 50px 20px 40px;
            display: fixed;
            .form__message{
                  height: 50px;
                  width: calc( 100% - 150px );
                  padding: 0 10px;
                  font-size: 16px;
                  float: left;
                  box-sizing: border-box;
                  border: none;
            }
            .form__mask{
                  height: 50px;
                  background-color: $white;
                  display: inline-block;
                  float: left;
                  padding-right: 10px;
                  i{
                        font-size: 20px;
                        line-height: 50px;
                  }
            }
            .form__submit{
                  background-color: #38AEF0;
                  border: none;
                  color: $white;
                  font-size: 16px;
                  height: 50px;
                  margin-left: 15px;
                  padding: 0 30px;
            }
      }
}