.chat{
  width: calc( 100% - 300px );
      .header{
            background-color: $white;
            height: 100px;
            padding: 0 40px;
            border: #eeeeee;
            .left-header{
                  margin: 35px 0 15px 0;
                  display: inline-block;
                  float: left;
                  .left-header__title{
                        font-size: 20px;
                        color: #333333;
                  }
                  .left-header__members{
                        ul{
                              font-size: 12px;
                              color: #999999;
                        }
                  }
            }
            .right-header{
                  border: 1px solid #38AEF0;
                  color: #38AEF0;
                  float: right;
                  height: 40px;
                  line-height: 40px;
                  margin-top: 28px;
                  padding: 0 20px;
                  .right-header__button{
                        border-color: #38AEF0;
                  }
            }
      }
}